{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "react-html-attrs",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime", // Tối ưu hoá path khi import. example: '../component/input' to 'component/input'
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ]
            }
        ]

    ]
}
